<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/aboutMe.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
</head>

<body>
  <nav>
    <div class="logo">
      <a href="/"><h4>Заголовок</h4></a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/search">Поиск</a>
      </li>
      <li id="showIfNotLogged">
        <a  href="/users/login">Войти</a>
      </li>
      <li id="showIfNotLogged">
        <a href="/users/register">Зарегистрироваться</a>
      </li>
      <!-- <li>
        <a href="#">Связаться с нами</a>
      </li> -->
      <li id="showIfLogged" class="hide">
        <a href="/profile/">Моя страница</a>
      </li>
      <li id="showIfLogged" class="hide">
        <a href="/users/register_end">Настройки</a>
      </li>
      <li id="showIfLogged" class="hide">
        <a href="/users/logout">Выход</a>
      </li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
      <div class="form-wrapper">
    <form class="boxR" action="/user/register_end" method="post">

        <div class="header"><h1>Информация о вас</h1></div>

        <div class="box box1">
            <label for="">Ваш пол:</label>
            <select name="gender" id="gender">
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
            </select> 
        </div>

        <div class="box box2">
            <label for="">Год рождения:</label>
            <input type="text" name="yearOfBirth" id="yearOfBirth" placeholder="">
        </div>
        

        <div class="box box3"> 
            <label for="">Информация: </label>
            <textarea type="text" name="additionalInfo" id="additionalInfo" rows="10" cols="40"></textarea>
        </div>
       

        <div class="box box4">
            <label for="">Ваши достижения:</label>
            <textarea type="text" name="achievements" id="achievements" rows="10" cols="40"></textarea>
        </div>
        

        <div class="box box5">
            <label for="">Стоимость занятий:</label>
            <input type="text" name="pricePerLesson" id="pricePerLesson" placeholder=""><span>руб./занятие</span>
        </div>
        

        <div class="box box6">
            <label for="">Длительность занятия</label>
            <input type="text" name="lengthOfLesson" id="lengthOfLesson" placeholder=""><span>минут</span>
        </div>
        

        <div class="box box7">
            <input type="checkbox" name="showMe" id="showMe" value="showMe">
            <label for="showMe">Показывать меня в поиске</label>
        </div>
        

        <div class="box8">
            <input type="submit" name="" value="СОХРАНИТЬ">
        </div>
        

    </form>

    <div class="errors hide">
      <button><i class='fas fa-window-close'></i></button>
    </div>
</div>
<script>
    document.getElementById('yearOfBirth').value = "<%= yearOfBirth %>";
    document.getElementById('additionalInfo').value = "<%= additionalInfo %>";
    document.getElementById('achievements').value = "<%= achievements %>";
    document.getElementById('pricePerLesson').value = "<%= pricePerLesson %>";
    document.getElementById('lengthOfLesson').value = "<%= lengthOfLesson %>";
    let gender = "<%= gender %>";
    if (gender === "Женский") {
       document.getElementById('gender').options[1].selected = true;
    }
    let showMe = "<%= showMe %>";
    if (showMe) {
        document.getElementById('showMe').checked = true;
    }

        const errorDiv = document.querySelector('.errors');


        if ("<%= errors%>") {

          <% errors.forEach(err => { %>
            errorDiv.innerHTML += "<%=err.message %>";
        <% }) %>

          errorDiv.classList.remove('hide');
        } 



        errorDiv.addEventListener('click', event => {
        if(event.target && (event.target.matches("button")||event.target.matches("i"))) {
        hideErrors();
        }
        });


        setTimeout(hideErrors, 20000);

        function hideErrors() {
        errorDiv.classList.add('hide');
        }

        
    let isOk = <%= okOk %>;
</script>
<script src="/js/nav.js"></script>
</body>

</html>