<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/userPage.css">
   
  </head>
  <body>
 <div class="mainBox">
     <div><img src="/userPhotos/2.jpg" width="100px" alt="Нет аватара"></div>
     <div id="name">Имя: <%= name%></div>
     <div id="lastName">Фамилия: <%= lastName%></div>
     <div id="subject">Предмет: <%= subject%></div>
     <div id="gender">Пол: <%= gender%></div>
     <div id="achievements">Достижения: <%= achievements%></div>
     <div id="additionalInfo">Доп инфа: <%= additionalInfo%></div>
     <div id="pricePerLesson">Стоимость занятия: <%= pricePerLesson%></div>
     <div id="lengthOfLesson">Длительность занятия: <%= lengthOfLesson%></div>
     <div id="yearOfBirth">Год рождения: <%= yearOfBirth%></div>
 </div>

  </body>
</html>